/* Login Component */

@import "./colors.scss";

.login-box {
  position: relative;
  padding: 30px;
  background-color: #E5E3C9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 700px) {
    max-width: 400px;
  }

  .login-heading {
   margin-bottom: 30px;
   color: #789395;
   text-align: center;
   border-bottom: 1px solid $primary-dark;
   padding-bottom: 30px;
   width: 100%;
  
  img {
     margin-bottom: 20px;
     width: 350px;
   }

   @media (max-width: 700px) {
     img {
       width: 250px;
     }
   }
  }

  .login-form {
    display: flex;
    flex-direction: column;

    p {
      color: $primary-dark;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  select {
    padding: 10px;
    border: 1px solid $primary-dark;
    border-radius: 5px;
    margin-bottom: 30px;
    color: $primary-dark;
    font-size: 1rem;
  }

  button {
    padding: 10px;
    color: white;
    background-color: $primary-light;
    border: 1px solid $primary-dark;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;

    &.disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}
