// Poll Question Component 

.poll-question {
  padding: 0 20px;
  width: 70%;
  text-align: left;

  h3 {
    margin-bottom: 30px;
  }

  button {
    padding: 10px;
    color: white;
    background-color: $primary-light;
    border: 1px solid $primary-dark;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;

    margin-top: 15px;

    &.disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    input {
      margin-right: 5px;
      margin-top: 3px;
    }
  }
}