/* Login Component */

.login-box {
  border: 1px solid #D67D3E;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  background-color: #f9e4d4;
  max-width: 600px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .login-heading {
   margin-bottom: 30px;
   color: #470D21;
   text-align: center;
   border-bottom: 1px solid #D67D3E;
   padding-bottom: 30px;
   width: 100%;
  
  img {
     margin-bottom: 20px;
     width: 350px;
   }
  }

  .login-form {
    display: flex;
    flex-direction: column;

    p {
      color: #470D21;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  select {
    padding: 10px;
    border: 1px solid #D67D3E;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #470D21;
    font-size: 1rem;
  }

  button {
    padding: 10px;
    color: white;
    background-color: #470D21;
    border: 1px solid #D67D3E;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;

    &.disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}
