/* Login Component */

.login-box {
  border: 1px solid #D67D3E;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  background-color: #f9e4d4;
  width: 50%;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .login-heading {
   margin-bottom: 30px;
   color: #470D21;
   text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  select {
    padding: 10px;
    border: 1px solid #D67D3E;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #470D21;
    font-size: 1rem;
  }

  button {
    padding: 10px;
    color: white;
    background-color: #470D21;
    border: 1px solid #D67D3E;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
  }
}
